* {
  box-sizing: border-box;
}

body{
	text-align: center;
	font-family: fantasy;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h1{ font-family: "Centabel Book", Sans, Serif;
	font-variant: small-caps;}

h2{ font-weight: lighter; }